In [52]:
#Importing Packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [53]:
#Reading the data file
df=pd.read_csv('KNN_Project_Data')

In [54]:
#Viewing the first 5 rows
df.head()

,XVPM,GWYH,TRAT,TLLZ,IGGA,HYKR,EDFS,GUUB,MGJM,JHZC,TARGET CLASS
0,1636.670614,817.988525,2565.995189,358.347163,550.417491,1618.870897,2147.641254,330.727893,1494.878631,845.136088,0
1,1013.402760,577.587332,2644.141273,280.428203,1161.873391,2084.107872,853.404981,447.157619,1193.032521,861.081809,1
2,1300.035501,820.518697,2025.854469,525.562292,922.206261,2552.355407,818.676686,845.491492,1968.367513,1647.186291,1
3,1059.347542,1066.866418,612.000041,480.827789,419.467495,685.666983,852.867810,341.664784,1154.391368,1450.935357,0
4,1018.340526,1313.679056,950.622661,724.742174,843.065903,1370.554164,905.469453,658.118202,539.459350,1899.850792,0

In [ ]:
#Pairplot with Seaborn
sns.pairplot(df,hue="TARGET CLASS",diag_kws={'bw': 0.2})

# Standardizing Data

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
scaler=StandardScaler()

In [ ]:
scaler.fit(df.drop('TARGET CLASS',axis=1))

In [ ]:
data_scaled=scaler.transform(df.drop('TARGET CLASS',axis=1))

In [ ]:
#Creating a dataframe with scaled features
df_scaled=pd.DataFrame(data_scaled,columns=df.columns[:-1])
df_scaled.head()

# Splitting the data into training and testing set

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(df_scaled,df['TARGET CLASS'],test_size=0.3,random_state=101)

# Building KNN Model

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
knn=KNeighborsClassifier(n_neighbors=1)

In [ ]:
knn.fit(X_train,y_train)

In [ ]:
#Running Predictions on Test Data
y_pred=knn.predict(X_test)

In [ ]:
from sklearn.metrics import confusion_matrix,classification_report

In [ ]:
print(confusion_matrix(y_test,y_pred))

In [ ]:
print(classification_report(y_test,y_pred))

In [ ]:
#Choosing the right value of k
error_rate=[]
for i in range(1,40):
    
    knn=KNeighborsClassifier(n_neighbors=i)
    knn.fit(X_train,y_train)
    y_pred=knn.predict(X_test)
    error_rate.append(np.mean(y_pred != y_test))

In [ ]:
error_rate

In [ ]:
plt.figure(figsize=(10,6))
plt.plot(range(1,40),error_rate)
plt.xlabel('K value')
plt.ylabel('Error Rate')

# Retrain with new K value

In [ ]:
knn=KNeighborsClassifier(n_neighbors=30)
knn.fit(X_train,y_train)
y_pred=knn.predict(X_test)

In [ ]:
print(confusion_matrix(y_test,y_pred))

In [ ]:
print(classification_report(y_test,y_pred))

# We have achieved better performance with k=30 than k=1!!!!